html,
body {
    height: 100%;
}



.wrap {
    min-height: 100%;
    height: auto;
    padding: 30px 10px 10px 10px;
}

.wrap > .container {
    min-height: 660px;
    border-left: 3px solid black;
    border-right: 3px solid black;

}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

















* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 50px 0 20px;
    font-weight: 100;
    text-align: center;
}

.all {
    text-align: center;
}
.all input[type="checkbox"] {
    display: none;
}
.all input[type="checkbox"]:checked + label {
    background-color: #2980b9;
    color: white;
}
.all input[type="checkbox"]:checked + label:before {
    content: 'Close All';
}
.all label {
    position: relative;
    margin: 0;
    padding: 5px 30px;
    font-size: 14px;
    font-weight: 300;
    color: #2980b9;
    background-color: white;
    border: 1px solid #2980b9;
    border-radius: 99px;
}
.all label:before {
    content: 'Open All';
}

.accordion {
    width: 17%;
    margin-top: 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: absolute;
}

.accordion .trigger #checkbox-1,
.accordion .trigger #checkbox-2,
.accordion .trigger #checkbox-3,
.accordion .trigger #checkbox-4,
.accordion .trigger #checkbox-31,
.accordion .trigger #checkbox-32,
.accordion .trigger #checkbox-33,
.accordion .trigger #checkbox-34,
.accordion .trigger #checkbox-35,
.accordion .trigger #checkbox-36,
.accordion .trigger #checkbox-37,
.accordion .trigger #checkbox-38,
.accordion .trigger #checkbox-39,
.accordion .trigger #checkbox-40,
.accordion .trigger #checkbox-41,
.accordion .trigger #checkbox-42,
.accordion .trigger #checkbox-43{
    display: none;
}

.accordion .trigger #checkbox-1:checked + label,
.accordion .trigger #checkbox-2:checked + label,
.accordion .trigger #checkbox-3:checked + label,
.accordion .trigger #checkbox-4:checked + label,
.accordion .trigger #checkbox-31:checked + label,
.accordion .trigger #checkbox-32:checked + label,
.accordion .trigger #checkbox-33:checked + label,
.accordion .trigger #checkbox-34:checked + label,
.accordion .trigger #checkbox-35:checked + label,
.accordion .trigger #checkbox-36:checked + label,
.accordion .trigger #checkbox-37:checked + label,
.accordion .trigger #checkbox-38:checked + label,
.accordion .trigger #checkbox-39:checked + label,
.accordion .trigger #checkbox-40:checked + label,
.accordion .trigger #checkbox-41:checked + label,
.accordion .trigger #checkbox-42:checked + label,
.accordion .trigger #checkbox-43:checked + label{
    background-color: slategray;
}

.accordion .trigger #checkbox-1:checked + label i:before,
.accordion .trigger #checkbox-2:checked + label i:before,
.accordion .trigger #checkbox-3:checked + label i:before,
.accordion .trigger #checkbox-4:checked + label i:before,
.accordion .trigger #checkbox-31:checked + label i:before,
.accordion .trigger #checkbox-32:checked + label i:before,
.accordion .trigger #checkbox-33:checked + label i:before,
.accordion .trigger #checkbox-34:checked + label i:before,
.accordion .trigger #checkbox-35:checked + label i:before,
.accordion .trigger #checkbox-36:checked + label i:before,
.accordion .trigger #checkbox-37:checked + label i:before,
.accordion .trigger #checkbox-38:checked + label i:before,
.accordion .trigger #checkbox-39:checked + label i:before,
.accordion .trigger #checkbox-40:checked + label i:before,
.accordion .trigger #checkbox-41:checked + label i:before,
.accordion .trigger #checkbox-42:checked + label i:before,
.accordion .trigger #checkbox-43:checked + label i:before {
    transform: translate(5px, 8px) rotate(45deg);
}

.accordion .trigger #checkbox-1:checked + label i:after,
.accordion .trigger #checkbox-2:checked + label i:after,
.accordion .trigger #checkbox-3:checked + label i:after,
.accordion .trigger #checkbox-4:checked + label i:after,
.accordion .trigger #checkbox-31:checked + label i:after,
.accordion .trigger #checkbox-32:checked + label i:after,
.accordion .trigger #checkbox-33:checked + label i:after,
.accordion .trigger #checkbox-34:checked + label i:after,
.accordion .trigger #checkbox-35:checked + label i:after,
.accordion .trigger #checkbox-36:checked + label i:after,
.accordion .trigger #checkbox-37:checked + label i:after,
.accordion .trigger #checkbox-38:checked + label i:after,
.accordion .trigger #checkbox-39:checked + label i:after,
.accordion .trigger #checkbox-40:checked + label i:after,
.accordion .trigger #checkbox-41:checked + label i:after,
.accordion .trigger #checkbox-42:checked + label i:after,
.accordion .trigger #checkbox-43:checked + label i:after {
    transform: translate(-5px, 8px) rotate(-45deg);
}
.accordion .trigger .checkbox {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: white;
    cursor: pointer;
    background-color: #434d57;
}
.accordion .trigger .checkbox i {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    right: 20px;
}
.accordion .trigger .checkbox i:before, .accordion .trigger .checkbox i:after {
    position: absolute;
    content: '';
    width: 16px;
    height: 3px;
    background-color: white;
    transition: transform 250ms ease;
}
.accordion .trigger .checkbox i:before {
    transform: translate(-5px, 8px) rotate(45deg);
}
.accordion .trigger .checkbox i:after {
    transform: translate(5px, 8px) rotate(-45deg);
}
.accordion .trigger .content {
    position: relative;
    max-height: 1px;
    padding: 0;
    overflow-y: scroll;
    font-size: 14px;
    line-height: 1.5;
    background-color: whitesmoke;
    transition: max-height 400ms ease-in-out;
}
.accordion .trigger .content h3 {
    margin: 30px 0 15px 30px;
}
.accordion .trigger .content p {
    margin: 0 30px 30px;
}

#checkbox-1:checked ~ .content,
#checkbox-2:checked ~ .content,
#checkbox-3:checked ~ .content,
#checkbox-4:checked ~ .content,
#checkbox-31:checked ~ .content,
#checkbox-32:checked ~ .content,
#checkbox-33:checked ~ .content,
#checkbox-34:checked ~ .content,
#checkbox-35:checked ~ .content,
#checkbox-36:checked ~ .content,
#checkbox-37:checked ~ .content,
#checkbox-38:checked ~ .content,
#checkbox-39:checked ~ .content,
#checkbox-40:checked ~ .content,
#checkbox-41:checked ~ .content,
#checkbox-42:checked ~ .content,
#checkbox-43:checked ~ .content{
    max-height: 350px;
    transition: max-height 500ms ease-in-out;
}

#ul_a {
    color: #122b40;
    font-size: large;
}


.form-category {
    display: inline-block;
    font-size: 16px;
}

.form_input {
    width: 500px;
    height: 50px;
    border: 2px solid #cecece;
    background: #F6F6f6;
    border-radius: 4px;
}

.form-category button {
    height: 50px;
    border: 2px solid #434d57;
    border-radius: 7px;
}

#alert_setFlash{
    font-size: 16px;
}

.h22 {
    margin-top: 0;
}